<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_area :body, :placeholder => "Write down your question in short" %>
  </div>
  <div class="field">
    <%= f.text_area :more, :placeholder => "Add more detail to your question. Optional." %>
  </div>
	<div class="field">
    <%= f.text_field :tag_list, :placeholder => "At least one tag such as (Ruby, Linux, Deploy), max 5 tags" %>
  </div>
  <div class="field">
    <%= f.label :reward %> <%= f.text_field :reward %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
