= form_for(@question) do |f|
  - if @question.errors.any?
    #error_explanation
      %h2
        = pluralize(@question.errors.count, "error")
        prohibited this question from being saved:
      %ul
        - @question.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.text_area :body, :placeholder => "Write down your question in short"
    %span.text-counter
  .field
    = f.text_area :more, :placeholder => "Add more detail to your question. Optional."
  .field
    = f.text_field :tag_list, :autocomplete => autocomplete_tag_name_questions_path, :delimiter => ",", :class => "autocomplete", :placeholder => "At least one tag such as (Ruby, Linux, Deploy), max 5 tags"
  .field
    = f.label :reward
    = f.text_field :reward
  .actions
    = f.submit
