<div id="content">
	<%= div_for(@question, :class => "clearfix") do %>
		<h1><%= safe_html @question.body_markdown %></h1>
		<div>
			<%= safe_html @question.more_markdown %>
		</div>
		<div class="status">
			<%= question_status @question %>
		</div>
		<div class="links">
			<%= links @question %>
		</div>
		<div class="comments">
			<%= render :partial => "partials/comment", :collection => @question.comments %>
		</div>
		<%= render "comments/comment", :commentable => @question %>
	<% end %>
	<div id="answers">
		<div class="subheader">
			<h1><%= pluralize(@question.answers.count, "answer") %></h1>
		</div>
		<%= render :partial => 'partials/answer', :collection => @question.answers %>
	</div>
	<h3>Add Answer</h3>
	<%= render @answer = @question.answers.build %>
</div>
