= div_for @question do
	%h2= safe_html @question.body_markdown
	.article= safe_html @question.more_markdown
	.status= question_status @question
	.links= links_for_question @question
	- if @question.comments.present?
		.comments= render :partial => "partials/comment", :collection => @question.comments
	= render "comments/comment", :commentable => @question
#answers
	.section_header
		%h2= pluralize(@question.answers.count, "answer")
	= render :partial => 'partials/answer', :collection => @question.answers
	%h2 Add Answer
	= render @answer = @question.answers.build
