<%= div_for(answer, :class => (answer.id == answer.question.accepted_answer_id) ? 'correct' : '') do %>
	<h3><%= answer.user.name_and_headline %></h3>
	<div class="article">
		<%= safe_html answer.body_markdown %>
	</div>
	<div class="links">
		<%= links answer %>
	</div>
	<div class="comments">
		<%= render :partial => "partials/comment", :collection => answer.comments %>
	</div>
	<%= render "comments/comment", :commentable => answer %>
<% end %>