= div_for answer do
  .inner{:class => (answer.id == answer.question.accepted_answer_id) ? 'correct' : ''}
    %h3= answer.user.name_and_headline
    .article
      = safe_html answer.body_markdown
    .links
      = links answer
    .comments= render :partial => "partials/comment", :collection => answer.comments
    = render "comments/comment", :commentable => answer
