<%= div_for(answer, :class => (answer.id == answer.question.accepted_answer_id) ? 'correct' : '') do %>
	<h3><%= answer.user.name_and_headline %></h3>
	<div class="article">
		<%= safe_html answer.body_markdown %>
	</div>
	<div class="links">
		<% if answer.question.status != "accepted" %>
			<%= link_to 'Set as Correct', accept_url(:id => answer.question.id, :answer_id => answer.id) %>
			<span class="bullet"> · </span>
		<% end %>
		<%= links answer %>
	</div>
	<div class="comments">
		<%= render :partial => "partials/comment", :collection => answer.comments %>
	</div>
	<%= render "comments/comment", :commentable => answer %>
<% end %>