= div_for question do
	.stats
		.amt
			.count= question.history_max
			.word amount
		.ans{:class => "#{question.status}"}= pluralize(question.answers_count, "answer")
	.summary
		%h3= link_to question.excerpt, question
		.status= question_links question
		.answer
			= "#{question.answer_user} - #{question.last_answer}" if question.ans_user_id