= div_for question do
	.stats
		.amt
			.count= question.history_max
			.word amount
		.ans{:class => "#{question.status}"}= pluralize(question.answers.count, "answer")
	.summary
		%h3= link_to question.excerpt, question
		.status= question_links question
		= render 'partials/last_answer', :answer => question.answers.last if question.answers.last.present?