<%= div_for(question, :class => "clearfix") do %>
	<div class="stats">
		<div class="amt">
			<div class="count"><%= question.history_max %></div>
			<div class="word">amount</div>
		</div>
		<div class="ans <%= question.status %>"><%= pluralize(question.answers.count, "answer") %></div>
	</div>
	<div class="summary">
		<h3><%= link_to question.excerpt, question %></h3>
		<div class="status">
			<%= question_links question %>
		</div>
		<%= render 'partials/last_answer', :answer => question.answers.last if question.answers.last.present? %>
	</div>
<% end %>