= javascript_include_tag ['wmd.js', 'showdown.js', 'autocomplete-rails.js']
= form_for([@answer.question, @answer]) do |f|
  - if @answer.errors.any?
    #error_explanation
      %h2
        = pluralize(@answer.errors.count, "error")
        prohibited this answer from being saved:
      %ul
        - @answer.errors.full_messages.each do |msg|
          %li= msg
  .field
    #wmd-button-bar
    = f.text_area :body, :id => 'wmd-input'
    #wmd-preview
    %span.text-counter
  .actions
    = f.submit
